<header>
    <nav class="header-nav">
        <a class="header-title" href="/">MovieFY</a>
        <ul>
            <a class="header-link" href="/directors/">Directors</a>
            <a class="header-link" href="/directors/new">Add Director</a>
            <a class="header-link" href="/movies/">Movies</a>
            <a class="header-link" href="/movies/new">Add Movies</a>
        </ul>
    </nav>
</header>