<header>
    <nav>
        <a href="/">MovieFY</a>
        <ul>
            <a href="/directors/">Directors</a>
            <a href="/directors/new">Add Director</a>
            <a href="/movies/">Movies</a>
            <a href="/movies/new">Add Movies</a>
        </ul>
    </nav>
</header>