<h2>Edit  Directors</h2>
<form action="/directors/<%= director.id %>?_method=PUT" method="post">
    <%- include('_form_director.ejs') %>
    <div class="form-row form-row-end btn-row">
        <a class="btn btn-danger" href="/directors/<%= director.id %>">Cancel</a>
        <button class="btn btn-primary" type="submit">Update</button>
    
    </div>
</form>