<h2>Add  Directors</h2>
<form action="/directors" method="post">
    <%- include('_form_director.ejs') %>
    <div class="form-row form-row-end btn-row">
        <a class="btn btn-danger" href="/directors">Cancel</a>
        <button class="btn btn-primary" type="submit">Create</button>
    </div>
</form>