<h1><%= director.name %></h1>
<div class="form-row">
    <a class="btn btn-primary" style="margin-right: 1.5rem;" href="/directors/<%= director.id %>/edit">Edit</a>
    <%- include('../partials/deleteForm',{ url : `/directors/${director.id}`}) %>
    
</div>

<% if (moviesByDirector.length > 0) { %>
 <h2>Movies By Director</h2>
  <%- include('../partials/movieGrid',{ movies:moviesByDirector}) %> 
<%  } %>     