@import 'shared/fonts.css';
@import 'shared/variables.css';
@import 'shared/header.css';
@import 'shared/button.css';
@import 'shared/form.css';

*,*::before,*::after {
    box-sizing: border-box;
}

:root {
    font-family: 'Gotham Rounded';
    font-size: 20px;
    color: var(--color-text-light);
 
}

body{
    background : linear-gradient(to right,
    var(--color-background-dark),var(--color-background-light));
}
.movie-title{
    text-decoration: none;
    color: var(--color-text-light);
}
.container{
    max-width: 1200px;
    margin: auto;
    margin-bottom: 3rem;
}

.inner-container {
   margin: 0 2rem; 
}
