<h2>Edit  Movies</h2>
<form action="/movies/<%= movie.id %>?_method=PUT" method="post"> 
    <%- include('_form_field.ejs') %>
    <div class="form-row form-row-end btn-row">
        <a class="btn btn-danger" href="/movies">Cancel</a>
        <button class="btn btn-primary" type="submit">Update</button>
    </div>
</form>